/* Profile.css */
:root {
    --blue: #07498a;
    --grey: #e8e6e2;
    --orange: #ff7f50;
  }
  
  .profile-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .profile-columns {
    display: flex;
    justify-content: center;
    margin: 0 20px;
  }
  
  .profile-details {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 100px;
  }
  
  .profile-role {
    margin-bottom: 20px;
  }
  
  
  .profile-role > h1 {
    display: inline-block;
    font-size: 50px;
    font-family: "Press Start 2P", cursive;
    background-color: var(--blue);
    color: var(--grey);
    padding: 10px 15px;
    margin-bottom: 60px;
    position: relative;
  }
  
  .profile-role > h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: -59px;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 60px solid var(--blue);
  }
  
  .profile-role-tagline {
    color: var(--orange);
    font-family: "Poppins", sans-serif;
    font-size: 22px;
  }
  
  .profile-picture {
    width: 70%;
    position: relative;
    overflow: hidden;
  }
  
  .profile-picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    z-index: 2;
  }
  
  .icon {
    color: #07498a;
    margin-right: 20px;
    padding: 2px;
    border: 1px solid black;
    transition: color 0.3s ease;
  }
  
  .icon:hover {
    color: var(--orange);
  }
  
  /* Media Queries */
  
  @media (max-width: 1440px) {
    .profile-columns {
      max-width: 930px;
      margin: 0 auto;
    }
  
    .profile-picture {
      width: 60%;
      max-width: 400px;
      margin: auto;
    }
  }
  
  @media (max-width: 1024px) {
    .profile-columns {
      margin: 0 80px;
    }
  }
  
  @media (max-width: 767px) {
    .profile-columns {
      flex-direction: column;
      margin: 0 100px;
    }
  
    .profile-details {
      text-align: center;
      margin: 20px;
      align-items: center;
      padding-right: 0;
    }
  
    .profile-role > h1 {
      font-size: 35px;
      margin-bottom: 30px;
      padding: 5px 10px;
    }
  
    .profile-role > h1::before {
      display: none;
    }
  
    .profile-role > h1::before {
      border-top: 31px solid transparent;
      border-bottom: 31px solid transparent;
    }
  
    .profile-role > h1 {
      font-size: 35px;
    }
  
    .profile-role-tagline {
      font-size: 16px;
    }
  
    .profile-picture {
      width: 80%;
      margin-top: 30px;
    }
  }
  